* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

body header h1 {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  color: #fff;
  text-align: center;
  background: #000;
  z-index: 1;
}

body footer {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  color: #fff;
  text-align: center;
  background: #888;
}

body hr {
  margin: auto;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #fff;
  border: 1px solid #888;
  -webkit-box-shadow: 0 2px 4px #888;
          box-shadow: 0 2px 4px #888;
}

.container {
  margin: auto;
  width: 98%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .textArea {
  margin: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .textArea #notebox {
  margin-top: 10px;
  padding: 5px 20px;
  height: 30vh;
  color: #444;
  font-size: 20px;
  border: 3px inset #ccc;
  border-radius: 6px;
  resize: none;
  overflow: wrap;
  scroll-behavior: smooth;
}

.container .textArea .textAreaBtn {
  margin: 10px 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .textArea .textAreaBtn button {
  margin: 5px;
  padding: 5px 10px;
  height: 36px;
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 180px;
  color: white;
  background: #226af0;
  border-radius: 6px;
}

.container .allNotes {
  margin: 10px 0px;
  position: relative;
}

.container .allNotes .notesHeader {
  position: relative;
  margin: 10px;
  padding: 0px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .allNotes .notesHeader h2 {
  padding: 10px;
  padding-left: 20px;
  line-height: 40px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #fff;
  font-size: 32px;
  direction: ltr;
  background: #000;
  border-radius: 6px;
}

.container .allNotes .notesHeader button {
  display: block;
  margin: 5px;
  padding: 5px 10px;
  height: 36px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 180px;
  float: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  background: #226af0;
}

.container .allNotes .notesContainer {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .allNotes .notesContainer .notes {
  margin: 5px;
  padding: 5px 5px;
  width: 30%;
  background: #fff8;
  border: 1px solid #333;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 3px;
          box-shadow: 0 0 3px;
}

.container .allNotes .notesContainer .notes h3 {
  padding: 5px;
  font-size: 24px;
  text-align: left;
  direction: ltr;
}

.container .allNotes .notesContainer .notes p {
  margin: 0px 4px;
  margin-bottom: 16px;
}

.container .allNotes .notesContainer .notes button {
  margin-top: 10px;
  float: right;
  min-width: 20%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

button {
  margin: 5px;
  padding: 5px 10px;
  height: 36px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  width: 180px;
  color: white;
  background: #226af0;
  border-radius: 6px;
}

@media screen and (max-width: 768) {
  h1 {
    font-size: 48px;
  }
  .container .textArea {
    width: 80%;
  }
  .container .allNotes .notesContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .allNotes .notesContainer .notes {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 24px;
    font-weight: 600;
  }
  .container .textArea {
    width: 80%;
  }
  .container .allNotes .notesHeader h2 {
    font-size: 18px;
  }
  .container .allNotes .notesContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .allNotes .notesContainer .notes {
    width: 92%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  header h3 {
    font-size: 16px;
    font-weight: 100;
  }
  header p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */