* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;

    header {
        h1 {
            position: relative;
            top: 0;
            left: 0;

            padding: 10px;
            // margin: 10px;
            width: 100%;
            color: #fff;
            
            text-align: center;
            background: #000;
            z-index: 1;
        }
    }

    footer {
        position: relative;
        top: 0;
        left: 0;

        padding: 10px;
        // margin: 10px;
        width: 100%;
        color: #fff;
        text-align: center;
        background: #888;
    }

    hr {
        margin: auto;
        width: 100%;
        align-self: center;
        background: #fff;
        border: 1px solid #888;
        box-shadow: 0 2px 4px #888;
    }
}

.container {
    margin: auto;
    width: 98%;

    background: white;

    // border: 2px solid #000;
    display: flex;
    flex-direction: column;

    .textArea {
        margin: auto;
        width: 90%;

        display: flex;
        flex-direction: column;
        #notebox {
            margin-top: 10px;
            padding: 5px 20px;
            height: 30vh;
            color: #444;
            font-size: 20px;
            border: 3px inset #ccc;
            border-radius: 6px;
            // box-shadow: 4px 4px 4px #d8d8d8;
            resize: none;
            overflow: wrap;
            scroll-behavior: smooth;
        }
        .textAreaBtn {
            margin: 10px 0px;
            padding: 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            button {
                margin: 5px;
                padding: 5px 10px;

                height: 36px;
                // min-width: 10%;
                // width: 180px;
                flex-basis: 24%;
                min-width: fit-content;
                max-width: 180px;

                // flex-basis: 20%;
                color: white;
                background: rgb(34, 106, 240);

                border-radius: 6px;
            }
        }
    }

    .allNotes {
        margin: 10px auto;
        width: 92%;
        position: relative;
        .notesHeader {
            position: relative;
            margin: 10px;
            padding: 0px 6px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h2 {
                padding: 10px;

                padding-left: 20px;
                flex-basis: 40%;
                color: #fff;
                font-size: 32px;
                direction: ltr;
                background: #000;
                border-radius: 6px;
            }
            button {
                display: block;
                margin: 5px;
                padding: 5px 10px;

                height: 36px;
                flex-basis: 20%;
                min-width: fit-content;
                max-width: 180px;

                float: right;
                align-self: center;

                color: white;
                background: rgb(34, 106, 240);
            }
        }

        .notesContainer {
            padding: 2%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // justify-content: space-around;
            // justify-content: space-evenly;
            justify-content: space-between;
            .notes {
                margin: 5px;
                padding: 5px 5px;

                width: 30%;

                background: #fff8;
                border: 1px solid #333;
                border-radius: 6px;
                box-shadow: 0 0 3px;
                h3 {
                    padding: 5px;
                    font-size: 24px;
                    text-align: left;
                    direction: ltr;
                }

                p {
                    margin: 0px 4px;
                    margin-bottom: 16px;
                }
                button {
                    margin-top: 10px;
                    float: right;
                    min-width: 20%;
                    max-width: fit-content;
                }
            }
        }
    }
}

button {
    margin: 5px;
    padding: 5px 10px;
    height: 36px;
    max-height: max-content;
    width: 180px;

    color: white;
    background: rgb(34, 106, 240);

    border-radius: 6px;
}

//media queries

@media screen and (max-width: 768) {
    h1 {
        font-size: 48px;
    }

    .container {
        .textArea {
            width: 80%;
        }

        .allNotes {
            .notesContainer {
                flex-direction: column;
                .notes {
                    flex-basis: 40%;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    header{
        h1{
            font-size: 24px;
            font-weight: 600;
        }
    }
    .container {
        .textArea {
            width: 80%;
            #notebox{
                height: 20vh;
                width: 90%;
            }
        }

        .allNotes {
            .notesHeader {
                h2 {
                    font-size: 18px;
                }
            }
            .notesContainer {
                flex-direction: column;

                .notes {
                    width: 92%;
                    align-self: center;
                }
            }
        }
    }

    header{
        h3{
            font-size: 16px;
            font-weight: 100;
        }
        p{
            font-size: 16px;
        }
    }
}
